<!-- <!-- <!-- <h1> cc ISIKA</h1>
<p>Le app component</p>
<div><app-second></app-second></div>

<app-first></app-first>
<app-first></app-first>
<app-first></app-first>

<app-two></app-two>
<app-color></app-color>
<app-ngstyle></app-ngstyle>
 -->
<!-- <app-mini-word></app-mini-word>
 -->

<!-- <app-ng-for></app-ng-for>

<app-somme [x]="5" [y]="7"></app-somme>
<app-somme></app-somme>
<app-somme [x]="3"></app-somme>

<app-ng-for></app-ng-for>
<app-ng-for [users]="joueurs"></app-ng-for>
 -->
<app-pere></app-pere>
